.benefit-list {
  @include reset-ul;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 32px;
  margin: auto 0;

  @media (min-width: $tablet-width + px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0;
  }
}

.benefit-list__item {
  padding: 13px 20px 3px;
  display: flex;
  align-items: flex-start;

  max-width: 400px;

  @media (min-width: $tablet-width + px) {
    display: block;

    padding: 59px 0 0;
    min-height: 330px;
    text-align: center;
  }
}

.benefit-list__item:nth-child(2) {
  @media (min-width: $tablet-width + px) {
    order: 1;
  }
}

.benefit-list__icon-wrapper {
  width: 65px;
  text-align: center;

  @media (min-width: $tablet-width + px) {
    width: 100%;
    height: 75px;
  }
}

.benefit-list__icon {
  fill: $main-blue;

  @media (min-width: $tablet-width + px) {
    width: 75px;
    height: 75px;

    margin-bottom: 12px;
  }
}

.benefit-list__info {
  margin-left: 11px;
  padding-top: 9px;

  @media (min-width: $tablet-width + px) {
    margin: 0 auto;
    padding-top: 25px;
    max-width: 170px;
  }

  @media (min-width: $desktop-width + px) {
    padding-top: 25px;
    max-width: 270px;
  }
}

.benefit-list__info--food {
  @media (min-width: $tablet-width + px) {
    max-width: 157px;
  }
  @media (min-width: $desktop-width + px) {
    max-width: 302px;
  }
}

.benefit-list__info--gifts {
  @media (min-width: $tablet-width + px) {
    max-width: 192px;
  }
  @media (min-width: $desktop-width + px) {
    max-width: 302px;
  }
}

.benefit-list__info--gifts br {
  display: none;

  @media (min-width: $desktop-width + px) {
   display: block;
  }
}

.benefit-list__title {
  margin: 0;

  @include header-text;

  @media (min-width: $tablet-width + px) {
    @include header-text(21px);
  }
}

.benefit-list__description {
  margin: 0;
  margin-top: 17px;

  @include description-text;

  color: #333333;

  @media (min-width: $tablet-width + px) {
    margin-top: 23px;
  }
}
