.benefit-list {
  @include reset-ul;
  display: flex;
  flex-direction: column;

  padding-top: 9px;
  margin: auto 0;
}

.benefit-list__item {
  padding: 13px 20px;
  display: flex;
}

.benefit-list__icon-wrapper {
  width: 40px;
}

.benefit-list__info {
  margin-left: 12px;
}

.benefit-list__title {
  margin: 0;

  @include header-text;
  line-height: 40px;
}

.benefit-list__description {
  margin: 0;
  margin-top: 10px;

  @include description-text;
  line-height: 21px;
}

.benefit-list__icon {
  fill: $main-blue;
}
