.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  display: block;

  @include description-text;
  line-height: 26px;
}

.copyright__link {
  width: 27px;
  height: 48px;
  margin-left: 12px;
  padding-top: 7px;
}
