
.decor-triangle {
  background-image: url(" ../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 720px;
  background-color: $main-blue;

  height: 37px;
}
