.intro {
  display: flex;
  height: 389px;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  &--short {
    height: 158px;
  }
}

.intro__slogan {
  display: block;

  width: 282px;
  height: 214px;

  margin: auto;
  margin-top: 90px;

  &--short {
    width: 229px;
    height: 39px;

    margin-top: 52px;
  }
}


