.intro {
  display: flex;
  height: 389px;

  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto, 768px 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
      url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width + px) {
    height: 518px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-size: auto, 768px 518px;
  }

  @media (min-width: $tablet-width + px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
      url("../img/bg-back-tablet@2x.jpg");
  }

  @media (min-width: $tablet-width + 1px) {
    height: 518px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-size: auto, 1200px 518px;
  }

  @media (min-width: $tablet-width + 1px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@2x.jpg");
  }
}

.intro--short {
  height: 158px;

  @media (min-width: $tablet-width + px) {
    height: 290px;
  }

  @media (min-width: $desktop-width + px) {
    height: 301px;
  }
}

.intro__slogan {
  display: block;

  width: 282px;
  height: 214px;

  margin: auto;
  margin-top: 90px;

  @media (min-width: $tablet-width + px) {
    width: 461px;
    height: 350px;
    margin-top: 77px;
  }
}

.intro__slogan--short {
  width: 229px;
  height: 39px;

  margin-top: 52px;

  @media (min-width: $tablet-width + px) {
    width: 456.9px;
    height: 77.6px;

    margin-top: 95px;
  }

  @media (min-width: $desktop-width + px) {
    margin-top: 102px;
  }
}
