.page-footer {
  display: flex;
  flex-direction: column;
  padding: 38.5px 0 26px 0;

  @media (min-width: $tablet-width + px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 0 36px 0;
  }
}

.page-footer__hashtag {
  margin: 0;

  line-height: 26px;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width + px) {
    margin-top: 12px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width + px) {
    padding-left: 119px;
  }
}

.page-footer__social {
  margin-top: 33.5px;

  @media (min-width: $tablet-width + px) {
    margin: 0;
    padding-right: 8px;
  }
}

.page-footer__copyright {
  margin-top: 34px;

  @media (min-width: $tablet-width + px) {
    margin: 0;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width + px) {
    padding-right: 119px;
  }
}

.copyright__logo {
  outline: none;
  fill: #000000;

  &:hover {
    fill: $main-blue;
  }

  &:active {
    fill: rgba(#000000, 0.3);
  }
}
