@mixin header-text($fontSize: 18px, $lineHeight: 26px) {
  font-weight: bold;
  font-size: $fontSize;
  text-transform: uppercase;
  line-height: $lineHeight;
}

@mixin description-text($lineHeight: 21px) {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  line-height: $lineHeight;
}

@mixin inverted-text-color {
  color: #ffffff;
}

@mixin reset-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
